# Fixed host controllers and onboard devices retain their physical topology.
allow id 1d6b:0002 hash "+Lsm3uXJrL0KwWr8E3Phv/ov65s/QLIBmiqongfUTzc=" parent-hash "5y2DlcZbTmr7Ngt3QG2uXCzlOxQh9Dekr4t0aSdW5r8=" via-port "usb1" label "xHCI 0000:0f:00.0 USB 2 root hub"
allow id 1d6b:0003 hash "B+IrGjLNXzR9fYfVYum8R3oPcPVtyThrRFVOQpVbq+A=" parent-hash "5y2DlcZbTmr7Ngt3QG2uXCzlOxQh9Dekr4t0aSdW5r8=" via-port "usb2" label "xHCI 0000:0f:00.0 USB 3 root hub"
allow id 1d6b:0002 hash "zxDBh/963aknmw5aLkP+8p3IY8APWe2T5A3OAdEsrTw=" parent-hash "ULhS/QsA5Sv9/5t6D/3RbOjxJ/0h2MzQkBeHhoLbv6M=" via-port "usb3" label "xHCI 0000:11:00.3 USB 2 root hub"
allow id 1d6b:0003 hash "vrA/WXTjDhXEUz50FSN51k/hyBy1DebU9tBpMQMiPtc=" parent-hash "ULhS/QsA5Sv9/5t6D/3RbOjxJ/0h2MzQkBeHhoLbv6M=" via-port "usb4" label "xHCI 0000:11:00.3 USB 3 root hub"
allow id 1d6b:0002 hash "ZSIwGrd3P5OijFEKFFRXtBKibyl6VwegRhsvNUTUBeo=" parent-hash "EtBRf2trbghR8phOdMMolypXS41s9dammNzThp2IG6g=" via-port "usb5" label "xHCI 0000:11:00.4 USB 2 root hub"
allow id 1d6b:0003 hash "WsWOWC2Sd9MdaR8y3kCnZnbsGRF7Is9LR2iaMqR4kAo=" parent-hash "EtBRf2trbghR8phOdMMolypXS41s9dammNzThp2IG6g=" via-port "usb6" label "xHCI 0000:11:00.4 USB 3 root hub"
allow id 1d6b:0002 hash "9guzk92U3kBrO5xnDc5EZ48BED+SzMBbWCsJ8J1PBkI=" parent-hash "1V/z+1NKyXY+K9p99IvqdU537fu3/V4sJ8pXj3HPZrQ=" via-port "usb7" label "xHCI 0000:12:00.0 USB 2 root hub"
allow id 174c:2074 hash "3diggCc+UIkz1I9skI/9PxceyT0kr5r7GL5FqNeqFZg=" parent-hash "+Lsm3uXJrL0KwWr8E3Phv/ov65s/QLIBmiqongfUTzc=" via-port "1-5" label "ASMedia ASM1074 USB 2 hub"
allow id 0db0:422d hash "kL7WFVC+wRu2UhoA7qb7Ga7AhIMyAuHfB4xoYj5eFDA=" parent-hash "+Lsm3uXJrL0KwWr8E3Phv/ov65s/QLIBmiqongfUTzc=" via-port "1-6" label "MSI motherboard USB audio"
allow id 0e8d:0616 hash "eM73IFKY9T4ydP+CKuo6KEp/Fhrl72VFzccohhOSiRg=" parent-hash "+Lsm3uXJrL0KwWr8E3Phv/ov65s/QLIBmiqongfUTzc=" via-port "1-7" label "MediaTek Bluetooth"
allow id 174c:3074 hash "u+NgVC10sqnPD0Rf2fZCa9joVQ4VZhizQq2ArhktmFg=" parent-hash "B+IrGjLNXzR9fYfVYum8R3oPcPVtyThrRFVOQpVbq+A=" via-port "2-5" label "ASMedia ASM1074 USB 3 hub"
allow id 1462:7d75 hash "qqBDnch40pQanNtd1/OKs1hW6z/MX+m4FBV68ZN1Tk0=" parent-hash "+Lsm3uXJrL0KwWr8E3Phv/ov65s/QLIBmiqongfUTzc=" via-port "1-10" label "MSI Mystic Light controller"
allow id 05e3:0608 hash "W6l+xvpLKIN6p2T3tTOGGy7Qm+zPESG43Fox/qV9OCE=" parent-hash "+Lsm3uXJrL0KwWr8E3Phv/ov65s/QLIBmiqongfUTzc=" via-port "1-12" label "Genesys Logic USB 2 hub"

# Movable trusted devices match their reviewed USB identity on any port.
allow id 0b05:1e13 hash "W9IsebkP0pg7VThs+fEitiTx/3tbu6hxA9OCYTEbJFQ=" with-interface equals { 09:00:01 09:00:02 } label "ASUS monitor KVM USB 2 hub"
allow id 0b05:1e14 hash "lTjKR3xhFWlY/tcYxVeYvLJup1GD5ETcUkZrPt9e4y0=" with-interface equals { 09:00:00 } label "ASUS monitor KVM USB 3 hub"
allow id 0b05:1e16 hash "lDfabLRo3dN1+Q5vkNjGx8UiBiDKFsDDBNgIGpTHOXQ=" with-interface equals { ff:ff:ff 03:00:00 } label "ASUS monitor Aura control"
allow id 0bda:1100 hash "5qV38hE0ACWm79QYAOtGSKu9XWKXnOma2l8bhjeTCYU=" with-interface equals { 03:00:00 } label "ASUS monitor HID endpoint"
allow id 31e3:1402 hash "BertsznnITAaNuTIVmTDexmItla4SVzIu0GewGgZp1Y=" with-interface equals { 03:00:00 03:01:01 03:00:00 03:00:00 03:00:00 } label "Wooting 80HE keyboard"
allow id 3554:f508 hash "gPI7GdWoaX0fu8DRkks2RxbY/4Mcm7qeop13NChBHCs=" with-interface equals { 03:01:01 03:00:00 03:01:02 } label "Pulsar X2 V2 Mini wireless receiver"
allow id 3554:f507 hash "XgBTq8pVM6qfvawSNZmeXDW2es5VdsP1m3ZrCbTRHiA=" with-interface equals { 03:01:01 03:00:00 03:01:02 } label "Pulsar X2 V2 Mini wired mode"
allow id 1050:0406 hash "CwFhBPBIv03wCep4yD8oMXEhm6km6k7YXpk44KGvkQQ=" with-interface equals { 03:00:00 0b:00:00 } label "Both YubiKey 5C keys, FIDO+CCID with OTP disabled"
allow id 1058:2621 hash "NdRb7LK0KU7wttNrzMMzBWE3Oc/MRlSqvtx32SyC6xg=" with-interface equals { 08:06:50 } label "WD Elements 2621 backup drive"
allow id 046d:094d hash "jCYqVKo/nzG8edAqTtlRL+nJ9S6BlMsJX5eVmv5IkG8=" with-interface equals { 0e:01:00 0e:02:00 0e:02:00 0e:02:00 0e:02:00 0e:02:00 0e:02:00 0e:02:00 0e:02:00 0e:02:00 0e:02:00 0e:02:00 0e:02:00 01:01:00 01:02:00 01:02:00 01:02:00 01:02:00 } label "Logitech Brio 101 webcam and microphone"
