[submodule "pkgs"]
	path = pkgs
	url = https://github.com/nix-forge/nixpkgs-personal.git
	branch = main
[submodule "nix-config-framework"]
	path = nix-config-framework
	url = https://github.com/nix-forge/nix-config-framework.git
	branch = main
[submodule "nix-seal"]
	path = nix-seal
	url = https://github.com/nix-forge/nix-seal.git
[submodule "nix-homelab"]
	path = nix-homelab
	url = https://github.com/nix-forge/nix-homelab.git
	branch = main
