@import "stylix-colors";

$default-foreground: $base05;
$highlight-foreground: $base00;

* {
  all: unset;
  font-family: Inter, "Material Design Icons";
  font-size: 10.5pt;
  color: $default-foreground;
}

@mixin oscillate-highlight($function, $stop, $background, $duration) {
  $name: inline-#{unique-id()};

  @keyframes #{$name} {
    #{$stop} {
      background: $background;
      color: $highlight-foreground;
    }
  }

  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: infinite;
  animation-timing-function: $function;
}

@mixin breathe-highlight($background, $duration) {
  @include oscillate-highlight(ease-in-out, 50%, $background, $duration);
}

@mixin pulse-highlight($stop, $background, $duration) {
  @include oscillate-highlight(ease-out, $stop, $background, $duration);
}

@mixin indicate-active($color, $selector) {
  transition:
    box-shadow 300ms ease-in,
    background 300ms ease-in;

  #{$selector} {
    transition:
      box-shadow 600ms ease-out,
      background 600ms ease-out;
    box-shadow: 0 2px 0 0 $color inset;
    background: $base02;
  }
}

@mixin indicate-hover($color) {
  transition: background 120ms ease-in;

  &:hover {
    transition: background 120ms ease-out;
    background: $color;
  }
}

#clock,
#submap,
#backlight,
#network,
#bluetooth,
#cpu,
#temperature,
#pulseaudio,
#memory,
#battery,
#idle_inhibitor,
#tray,
#mpris,
#window {
  padding-left: 8px;
  padding-right: 8px;
}

window#waybar {
  background: $base01;
  border-bottom: 1px solid $base02;
}

tooltip,
window.popup {
  background: $base00;
  border: 1px solid $base04;
  // border-radius: 3px;
}

window.popup {
  menu {
    padding: 5px 0;

    arrow {
      min-width: 16px;
      min-height: 16px;

      &.top {
        -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
      }

      &.bottom {
        -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
      }

      &.right {
        -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
      }

      &.left {
        -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
      }
    }

    menuitem {
      padding: 4px 8px;

      transition:
        color 66ms ease-in,
        background 66ms ease-in;

      &:hover {
        transition:
          color 100ms ease-out,
          background 100ms ease-out;

        color: $highlight-foreground;
        background: $base0B;
      }
    }

    separator {
      min-height: 1px;
      background: $base04;
      margin: 4px 0;
    }
  }
}

#clock.time {
  font-weight: bold;
}

#tray {
  & > * {
    @include indicate-hover($base02);
  }
}

#mpris {
  @include indicate-hover($base02);
}

#submap {
  @include indicate-active($base0E, "&");
}

#workspaces {
  button {
    min-width: 26px;
    padding: 6px;

    @include indicate-hover($base02);
    @include indicate-active($base09, "&.active");

    &.urgent {
      animation-delay: 5s;
      @include pulse-highlight(10%, $base0D, 1.5s);
    }
  }
}

#network {
  @include indicate-hover($base02);
  @include indicate-active($base0B, "&.wifi");
  @include indicate-active($base0D, "&.ethernet");
  @include indicate-active($base0E, "&.linked");
}

#bluetooth {
  @include indicate-hover($base02);
  @include indicate-active($base0D, "&.on");
  @include indicate-active($base0B, "&.connected");

  &.on {
    @include breathe-highlight($base0D, 5s);
  }
}

#battery {
  &.battery-30:not(.charging) {
    @include breathe-highlight($base09, 10s);
  }

  &.battery-20:not(.charging) {
    @include pulse-highlight(10%, $base09, 5s);
  }

  &.battery-10:not(.charging) {
    @include pulse-highlight(30%, $base08, 750ms);
  }
}

#temperature.critical {
  @include pulse-highlight(30%, $base08, 750ms);
}

#idle_inhibitor {
  @include indicate-hover($base02);
  @include indicate-active($base0A, "&.activated");

  &.activated {
    @include pulse-highlight(10%, $base0A, 5s);
  }
}

#pulseaudio {
  @include indicate-hover($base02);

  &.output:not(.safe) {
    @include breathe-highlight($base08, 10s);
  }
}
